body, html {
    background-color: #ffe0b2;
    font-family: 'Neucha', cursive;
    width: 100%;
    height: 100%;
}
.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
.section {
    float: left;
    margin: 0 3.5%;
    width: 25%;
}
.content {
    flex: 1 0 auto;
}

.footer {
    flex: 0 0 auto;
}
.logo {
    color: white;
}
.card img{
    height:50%;
    width:100%;
}
.card-title{
    color:red;
}

.navbar-light .navbar-nav .nav-link {
    color: rgba(59,41,70,1.00) !important;
}

.card{
    margin: 10px 20px;
    border-radius:10px;
}

form {
    margin: 10px 20px;
   
}

.btn {
    font-weight: 600;
    text-decoration: none;
    color: white;
    background-color: #FF9800;
    text-transform: uppercase;
    letter-spacing: 1.6px;
    display: inline-block;
    border-width: 2px;
    border-color: white;
    border-style: solid;
    border-radius: 50px;
    padding-bottom: 8px;
    padding-top: 8px;
    padding-left: 23px;
    padding-right: 23px;
    margin-bottom: 13px;
    transition: .2s ease-out;
}

.selected {
    background-color: rgba(59,41,70,1.00);
}

@media (min-width: 768px) {
    .container-fluid {
        width: 80% !important;
    }
    .navbar-container {
        position: sticky;
        top: 0;
        overflow-y: auto;
        height: 100vh;
    }

        .navbar-container .navbar {
            align-items: flex-start;
            justify-content: flex-start;
            flex-wrap: nowrap;
            flex-direction: column;
            height: 100%;
        }

        .navbar-container .navbar-collapse {
            align-items: flex-start;
        }

        .navbar-container .nav {
            flex-direction: column;
            flex-wrap: nowrap;
        }

        .navbar-container .navbar-nav {
            flex-direction: column !important;
        }

   
}
#button {
    display: inline-block;
    background-color: #FF9800;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s, opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
}

    #button::after {
        content: "\f077";
        font-family: FontAwesome;
        font-weight: normal;
        font-style: normal;
        font-size: 2em;
        line-height: 50px;
        color: #fff;
    }

    #button:hover {
        cursor: pointer;
        background-color: #333;
    }

    #button:active {
        background-color: #555;
    }

    #button.show {
        opacity: 1;
        visibility: visible;
    }

.footer {
    background-color: rgb(59, 41, 70);
    margin-top: 20px;
}

    .footer p {
        margin-top: 10px;
        margin-bottom: 15px;
    }

    .footer p {
        color: white;
        font-weight: 300;
        font-size: 20px;
    }

.rating {
    /*background-color: rgba(0, 0, 16, 0.8);*/
    padding: 0.4rem 0.4rem 0.1rem 0.4rem;
    border-radius: 2.2rem;
}

svg {
    fill: rgba(59,41,70,1.00);
    height: 3.6rem;
    width: 3.6rem;
    margin: 0.2rem;
}

.rating-form-2 svg {
    height: 3rem;
    width: 3rem;
    margin: 0.5rem;
}

#radios label {
    position: relative;
}

.modal input[type="radio"] {
    position: absolute;
    opacity: 0;
}

.modal input[type="radio"] + svg {
        -webkit-transition: all 0.2s;
        transition: all 0.2s;
    }

.modal input + svg {
    cursor: pointer;
}

.modal input[class="super-happy"]:hover + svg,
.modal input[class="super-happy"]:checked + svg,
.modal input[class="super-happy"]:focus + svg {
    fill: rgb(0, 109, 217);
}

.modal input[class="happy"]:hover + svg,
.modal input[class="happy"]:checked + svg,
.modal input[class="happy"]:focus + svg {
    fill: rgb(0, 204, 79);
}

.modal input[class="neutral"]:hover + svg,
.modal input[class="neutral"]:checked + svg,
.modal input[class="neutral"]:focus + svg {
    fill: rgb(232, 214, 0);
}

.modal input[class="sad"]:hover + svg,
.modal input[class="sad"]:checked + svg,
.modal input[class="sad"]:focus + svg {
    fill: rgb(229, 132, 0);
}

.modal input[class="super-sad"]:hover + svg,
.modal input[class="super-sad"]:checked + svg,
.modal input[class="super-sad"]:focus + svg {
    fill: rgb(239, 42, 16);
}

